backend/node_modules
backend/public/mix-manifest.json
backend/public/css
backend/public/img
backend/public/js
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env_testing
backend/.idea
backend/.phpunit.result.cache
backend/data
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/data
backend/.DS_Store
backend/certs
backend/Vagrantfile
backend/.vagrant

frontend/node_modules
node_modules
