:root {
  --header-height: 100px;
}

html, body, div { padding: 0px; margin: 0px; }
h1, h2, h3, h4, h5 { 
    font-family: 'Merriweather', serif;
    text-align: left; 
    margin: 12px; 
}
h1 { font-size: 20px; 
    margin-top: 32px;
}
h2 { font-size: 48px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffffff;
}


.app {
    margin: 0px auto;
    width: 100vw;
    min-height: 100vh;
}

.header  {  
    width: 100vw;
    height: var(--header-height);
    top: 0;
    left: 0;
    padding-left: 16px;
    background-color: rgb(14, 33, 44);
    color: #ffffff;
    position: fixed;
    z-index: 2
}

.content {
    margin: var(--header-height) 0 0 0;
}

.bottom-spacer {
  height: 46vh;
}

.footer  { 
    background-color: rgb(14, 33, 44);
    width:110%;
    color: #ffffff;
    padding: 16px;
}

/* Generic classes */

.expanded { border-left: 8px solid black; }
.collapsed { display: none; }
.expanded, .collapsed { overflow-y: hidden; }

.plus:after { content: '+'; }
.minus:after { content: '-'; }
.plus:after, .minus:after { float: right; }

.even { background-color: #e2e9f5; }
.odd  { background-color: #ffffff; }

.hover:hover { 
    /*background-color: #ccccff80; */
    outline: 1px solid black;
}

/* Header link styling */

.header-link {
    color: white;
    text-decoration: none;
    padding-right: 32px;
}

.header-link-active {
    text-decoration: underline;
}

/* Navigation bar styling */
.navbar-sticky{
    position: fixed;
    margin: 32px 0px;
    top: 30vh;
    right: 0;
    min-width: 180px;
    overflow-x: visible;
    list-style-position: inside; 
}

.navbar-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4px 32px 4px 4px;
}

.navbar-sticky li {
    margin: 0;
    padding-left: 8px;
    cursor: default;
    font-size: 18px;
}

.navbar-circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #808080;
    border-width: 2px;
}

.navbar-circle-selected {
    background-color: blue;
}

.navbar-in-view {
    opacity: 1.0;
    text-shadow: -0.06ex 0 black, 0.06ex 0 black; 
}

.navbar-not-in-view {
    opacity: 0.6;
}

/* Step styling */

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
}

.step {
    scroll-margin-top: var(--header-height);
    width: 100vw;
    padding: 64px;
    display: grid;
    grid-template-areas: ". step-content .";
    grid-template-columns: .4fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 8px;
}

.step-content{
    grid-area: step-content;
    width: 80vw;
    max-width: 1000px;
    margin-left: auto;
}

.step-header-text {
    width: 100%;
    padding: 16px;
    margin: 0px 0px 16px 0px;
    border: none;
    box-sizing: border-box;
    text-align: left;
    font-size: 36px;
}

.step-body-text {
    text-align: left;
    font-size: 18px;
    margin: 0px;
    padding: 16px;
    font-family: Roboto;
    max-width: 70vw;
}


/*login styling*/

.login-window {
    position: absolute;
    padding: 60px 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#e2e9f5;
    max-width: 400px;
}

.login-button{
    text-align: center;
}
.login-box {
    background-color: white;
}

/*new user styling*/

.new-user {
    position: absolute;
    padding: 60px 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#e2e9f5;
    max-width: 400px;
}

/*questionnaire styling*/

.questionnaire-content{
    padding: 12px;
}

.question-header-box{
    padding: 24px;
}

.question-header{
    text-align: center;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: bold;
}

.question-main{
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 12px 0px 12px;
}


.inline-text{
    width: fit-content;
    display: inline-block;
    padding: 2px;
}

.disclaimer-text{
    font-size: 12px;
    padding: 12px;
}

.hover-text{
    color: rgb(201, 149, 54);
}

.prelim-subtext{
    text-align: center;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: blue;
}

.prelim-question-sub{
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 48px 0px 48px;
    list-style-type: lower-alpha;
}

.prelim-selector{
   padding: 0px 0px 20px 72px;
}

.prelim-clarity-text{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

